<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146086678520-mdc47vlq6ofsfk02g9ug49sfu0sbi17h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146086678520-mdc47vlq6ofsfk02g9ug49sfu0sbi17h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>146086678520-6bilfvl2g0qqptosttds9hn5s6f33j45.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTbRKptTJ5hoxDAlDFKCTxINq-Pl60FKA</string>
	<key>GCM_SENDER_ID</key>
	<string>146086678520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FabCustomer</string>
	<key>PROJECT_ID</key>
	<string>fabcustomer-2f7ae</string>
	<key>STORAGE_BUCKET</key>
	<string>fabcustomer-2f7ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146086678520:ios:ce117d0cbe27c491</string>
	<key>DATABASE_URL</key>
	<string>https://fabcustomer-2f7ae.firebaseio.com</string>
</dict>
</plist>